.falling-button {
  font-size: 26px;
  border: none;
  border-radius: 14px;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), 0 8px 16px rgba(255, 105, 180, 0.5),
    inset 0 0 8px rgba(255, 255, 255, 0.6), 0 0 12px rgba(255, 182, 193, 0.8);

  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
  position: relative;
  animation: appear 1s ease-out forwards;
}

.falling-button:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4),
    0 12px 24px rgba(255, 105, 180, 0.7),
    inset 0 0 10px rgba(255, 255, 255, 0.8), 0 0 18px rgba(255, 182, 193, 1);
  transform: scale(1.05); /* ホバーで拡大 */
}

.falling-button:active {
  transform: scale(0.9); /* クリックで少し小さく */
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); /* クリック時に影を縮小 */
}

.fall {
  animation: disapper 3s forwards;
}

@keyframes appear {
  0% {
    transform: scale(0.5) translateY(50px);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

@keyframes disapper {
  0% {
    transform: scale(1) translateY(0) rotate(0);
  }
  50% {
    transform: scale(0.6) translateY(40px) rotate(810deg);
    opacity: 0.75;
  }
  100% {
    transform: scale(0.1) translateY(100px) rotate(3600deg);
    opacity: 0;
  }
}
